/* Confidential Issues Detail Page */
[data-page="projects:issues:show"]:not(.screenshare-mode-checked)
  .layout-page
  .content-wrapper
  > * {
  display: none !important;
}

[data-page="projects:issues:show"]:not(.screenshare-mode-checked)
  .layout-page
  .content-wrapper:before {
  content: "Checking if issue confidential...";
  position: absolute;
  padding-top: 2rem;
  padding-left: 1rem;
}

/* All other features */
.screenshare-mode-enabled .screenshare-mode-redacted > */* selectors */ {
  display: none !important;
}

.screenshare-mode-enabled .screenshare-mode-redacted .screenshare-mode-show {
  display: block !important;
}

.screenshare-mode-enabled .screenshare-mode-redacted:before {
  content: "Redacted due to screenshare mode";
}
